<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.choicely.myapplication"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera2"
        android:required="true"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:exported="true"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageMoveActivity" />
        <activity android:name=".BooActivity" />
        <activity android:name=".CardsActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".tabs.TabsActivity"/>
        <activity
            android:name=".citysearch.CitySearchActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".timer.TimerActivity"/>
        <activity android:name=".receiptsaver.ReceiptActivity"/>
        <activity android:name=".receiptsaver.ReceiptSaverActivity"/>
        <activity android:name=".receiptsaver.SingleReceiptActivity"/>
        <activity android:name=".imagegallery.GalleryActivity"/>
        <activity android:name=".imagegallery.CheckUrlActivity"/>
        <activity android:name=".imagegallery.NameUrlActivity"/>
        <activity android:name=".blackjack.BlackJackActivity"/>
        <activity android:name=".blackjack.BlackjackGameActivity"/>
        <activity android:name=".sulkeiset.SulkeisetActivity"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>